<h1>Create New Hospital</h1>

<form action= "/hospitals" method= "post">
		<input type="text" 		placeholder= "Name" 					name="name" 	value="<%= @auditor.name %>">
		<input type="text"		placeholder= "City"						name="city"		value="<%= @auditor.city %>">
		<input type="text"		placeholder= "Phone Number"		name="phone"	value="<%= @auditor.phone %>">
		<input type="submit"	value="Make a New Hospital">
</form>