<h1>Home Page</h1>


<nav>
	<ul>
		<li>Auditors Menu</li>
			<ul>
				<li><a href="/auditors">All Auditors</li></a>
			</ul>
		<li>Coordintors Menu</li>
			<ul>
				<li><a href="/coordinators">All Coordinators</li></a>
			</ul>
		<li>Hospital Menu</li>
			<ul>
				<li><a href="/hospitals">All Hospitals</li></a>
			</ul>
		<li>Patient Menu</li>
			<ul>
				<li><a href="/patients">All Patients</li></a>
			</ul>
	</ul>
</nav>